<!-- este es el archivo base donde ponemos el head con las librerias como bootstrap que vamos a utilizar
y las hojas de estilos -->

<!DOCTYPE html>
<html class="no-js" lang="es">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Sistema Contabilidad Reg11</title>
        <meta name="description" content="Este es el sistema de contabilidad de la Dirección Regional 11 de Educaci&oacute;n">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->
        {% load static %}
        <link rel="stylesheet" href='{% static "home/css/vendor.css" %}'>

        <link rel="stylesheet" id="theme-style" href="{% static 'home/css/app.css' %}">

        <link rel="stylesheet" href="{% static 'home/css/Ionicons/css/ionicons.css' %}">

        <link rel="stylesheet" href="{% static 'home/css/datatables.net-bs/css/dataTables.bootstrap4.css' %}">

        <link rel="stylesheet" href="{% static 'home/css/alertify-css/alertify.css' %}">

        <style>
            .error-personal
            {
                color: #fff;
                background: rgba(250, 0, 0, 0,95);
                text-shadow: -1px -1px 0 rgba(0, 0, 0, 0,5);
            }
        </style>
        
        <!-- Bootstrap CSS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <!-- W3 CSS-->
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

        <!-- font-awensome-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
        
        <!--  Stylo -->
        {% load static %}
        <link rel="stylesheet" href="{% static 'home/css/app.css' %}">
        <link rel="stylesheet" id="theme-style" href="{% static 'home/css/app.css' %}">
        <style>
            .body
            {
                color: #fff;
                background: rgba(250, 0, 0, 0,95);
                text-shadow: -1px -1px 0 rgba(0, 0, 0, 0,5);
            }
        </style>
    </head>
        
