<div class="col-sm-2">
    <br>
    <br>
    <div class="w3-card-4">
      <header class="w3-container w3-green">
        <h4>Socio</h4>
      </header>
      <div class="w3-container">
        <ul>
          <!--<li><a href={perfil} class="w3-bar-item w3-button w3-hover-green">Perfil</a></li>-->
          <li><a href="#" class="w3-bar-item w3-button w3-hover-green">Soporte</a></li>
        </ul>
      </div>
    </div>
    <br>
    <br>
    <div class="w3-card-4">
      <header class="w3-container w3-green">
        <h4>Usuario</h4>
      </header>
      <div class="w3-container">
        <ul>
          <li><a href="/usuarios/password_change/" class="w3-bar-item w3-button w3-hover-green">Cambie su clave</a></li>
          <li><a href="/usuarios/password_reset/" class="w3-bar-item w3-button w3-hover-green">Recupere su clave</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
</body